.texto {
    font-size: 30px;

}

html,
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 574px;
    height: 631px;
    margin: auto;
    padding: auto;

}

#boton {

    background-color: #441ac1;
    border-radius: 20px;
    color: white;
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#total {
    font-size: 30px;
}

.holder {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}
